* {
    margin: 0;
    padding: 0;
}

nav {
    background: rgba(0, 0, 0, 0.512);
    display: flex;
    justify-content: space-around;
    padding: 5px 20px;
    align-items: center;
}

#main-name2 {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
}

p {
    font-family: 'Montserrat Alternates', sans-serif;

}

#n1 {
    font-size: 3rem;
    font-family: 'Montserrat Alternates', sans-serif;
    color: rgb(165, 163, 163);
}

#n2 {
    font-size: 6rem;
    font-family: 'Raleway Dots', cursive;
    font-weight: 500;
    transition: 0.2s ease;
}

.container {
    background: rgba(0, 0, 0, 0.512);
    display: flex;
    padding: 4vw;
    justify-content: space-around;
}