#main-name{
    font-size: 1.5rem;
}
.container{
    flex-direction: column;
    align-items: center;
}
#profile-pic{
    height: 200px;
    width: 200px;
}
#main-name2{
    padding: 10px;
    width: 350px;
}
#n1{
    font-size: 20px;
}
#n2{
    font-size: 40px;
}
h2{
    font-size: 1.2em;
}
#projects{
    flex-direction: column;
    align-items: center;
}
.project-card{
    margin-bottom: 50px;
    width: 75vw;
    
}
.project-card img{
    width: 75vw;
}

.project-card p{
    padding-top: 10px ;
    padding-bottom: 100px ;
    line-height: 25px;
}

#testimonials{
    flex-direction: column;
}
#OSCHeading{
    font-size: 60px;
}

#TestimonialsHeading{
    font-size: 60px;
}
