#main-name {
    font-size: 1.5rem;
}

.container {
    flex-direction: column;
    align-items: start;
}

#profile-pic img {
    height: 270px;
    width: 270px;
}

#main-name2 {
    padding: 10px;
    width: 350px;
}

#n1 {
    font-size: 20px;
}

#n2 {
    font-size: 40px;
}

h2 {
    font-size: 1.2em;
}

.projects {
    flex-direction: column;
    align-items: center;
}

.project-card {
    margin-bottom: 50px;
    padding-bottom: 25px;
}


.project-card p {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 25px;
}

#testimonials {
    flex-direction: column;
}

#OSCHeading {
    font-size: 60px;
}

#TestimonialsHeading {
    font-size: 60px;
}